"*":
  "exception-reporting":
    userId: "2577ba3d-be84-27f4-1742-155acf12eb9b"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    invisibles: {}
  "autocomplete-plus":
    navigateCompletions: "ctrl-p,ctrl-n"
